@use "mixins" as *;
@use "functions" as *;
@use "media" as *;

body {
  @include font-size(16, 14);

  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.35;
  background-color: var(--background-color-base);
  color: var(--color-base-dark);
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
}

.container-big {
  width: 100%;
  max-width: var(--container-big-width);
  padding: 0 rem(10);
  margin: 0 auto;

  @include desktop {
    padding: 0;
  }
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent-dark);
  color: var(--color-accent-light);
  border-radius: rem(96);
  font-size: fluid(16, 14);
  text-transform: uppercase;
  padding: rem(19) rem(92) rem(19) rem(38);

  &::after {
    content: '';
    position: absolute;
    width: rem(54);
    height: rem(54);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url('../img/arrow-top-right.svg') no-repeat center / contain;
  }
}

.text-yellow {
  color: var(--color-accent-yellow);
}
