@use './functions' as *;

$desktop: 1440;
$laptop-l: 1160; 
$laptop: 1085;
$laptop-m: 1035;

$tablet-l: 980;
$tablet-m: 900;
$tablet: 768;
$tablet-s: 675;
$mobile-l: 520;
$mobile: 500;
$mobile-s: 480;

@mixin desktop {
  @media (max-width: rem($desktop - 1)) {
    @content;
  }
}

@mixin desktop-above {
  @media (min-width: rem($desktop)) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: rem($laptop - 1)) {
    @content;
  }
}

@mixin laptop-above {
  @media (min-width: rem($laptop)) {
    @content;
  }
}

@mixin laptop-l {
  @media (max-width: rem($laptop-l - 1)) {
    @content;
  }
}

@mixin laptop-m {
  @media (max-width: rem($laptop-m - 1)) {
    @content;
  }
}


@mixin tablet-l {
  @media (max-width: rem($tablet-l - 1)) {
    @content;
  }
}

@mixin tablet-m {
  @media (max-width: rem($tablet-m - 1)) {
    @content;
  }
}

@mixin tablet-s {
  @media (max-width: rem($tablet-s - 1)) {
    @content;
  }
}



@mixin tablet {
  @media (max-width: rem($tablet - 1)) {
    @content;
  }
}

@mixin tablet-above {
  @media (min-width: rem($tablet)) {
    @content;
  }
}

@mixin mobile-l {
  @media (max-width: rem($mobile-l - 1)) {
    @content;
  }
}


@mixin mobile {
  @media (max-width: rem($mobile - 1)) {
    @content;
  }
}


@mixin mobile-s {
  @media (max-width: rem($mobile-s - 1)) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (min-width: rem($mobile-s)) {
    @content;
  }
}
