html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

img,
video,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.35;
  background-color: var(--background-color-base);
  color: var(--color-base-dark);
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
}

.container-big {
  width: 100%;
  max-width: var(--container-big-width);
  padding: 0 0.625rem;
  margin: 0 auto;
}
@media (max-width: 89.9375rem) {
  .container-big {
    padding: 0;
  }
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent-dark);
  color: var(--color-accent-light);
  border-radius: 6rem;
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  text-transform: uppercase;
  padding: 1.1875rem 5.75rem 1.1875rem 2.375rem;
}
.btn::after {
  content: "";
  position: absolute;
  width: 3.375rem;
  height: 3.375rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/arrow-top-right.svg") no-repeat center/contain;
}

.text-yellow {
  color: var(--color-accent-yellow);
}

:root {
  --color-base-dark: #0e0d0d;
  --color-base-light: #fff;
  --color-accent-light: #FDFDF0;
  --color-accent-dark: #000;
  --color-accent-yellow: #F2A531;
  --color-accent-green: #284316;
  --color-blog-dark: #101828;
  --color-blog-light: #667085;
  --background-color-base: #FDFDF0;
  --background-color-light: #F4F4E7;
  --container-width: 88.75rem;
  --container-big-width: 113.75rem;
  --font-family-base: "Nunito Sans", sans-serif;
  --font-family-accent: "Work Sans", sans-serif;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans.woff2") format("woff2-variations");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  padding-block: 1.875rem;
}
@media (max-width: 42.125rem) {
  .header__inner {
    padding-bottom: 0.9375rem;
  }
}
@media (max-width: 31.1875rem) {
  .header__inner {
    padding-block: 0.625rem;
  }
}
.header__contact-us {
  display: inline-block;
  padding: 0.625rem 2.5rem;
  border-radius: 3.125rem;
  text-transform: uppercase;
  background-color: var(--color-base-dark);
  color: var(--color-base-light);
}
@media (max-width: 61.1875rem) {
  .header__contact-us {
    display: none;
  }
}

.menu__list {
  display: flex;
  column-gap: 1.875rem;
}
@media (max-width: 61.1875rem) {
  .menu__list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-base-light);
    padding: 5.3125rem 0;
    row-gap: 20px;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
  }
}
.menu__list.menu-active {
  transform: translateY(0);
}
.menu__btn {
  position: relative;
  z-index: 5;
  display: none;
}
@media (max-width: 61.1875rem) {
  .menu__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5rem;
    width: 2.5rem;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}
.menu__btn span {
  width: 100%;
  border-radius: 1.25rem;
  height: 0.25rem;
  background-color: var(--color-base-dark);
  transition: transform 0.3s, opacity 0.3s;
}
.menu__btn.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu__btn.active span:nth-child(2) {
  opacity: 0;
}
.menu__btn.active span:nth-child(3) {
  transform: rotate(-45deg) translate(12px, -12px);
}
.menu__link {
  text-transform: uppercase;
}
.menu__link.header__contact-us {
  display: none;
}
@media (max-width: 61.1875rem) {
  .menu__link.header__contact-us {
    display: inline;
    position: relative;
    top: 10px;
  }
}
@media (max-width: 61.1875rem) {
  .menu {
    order: 1;
  }
}

.hero__top {
  min-height: 46.75rem;
  font-family: var(--font-family-accent);
  text-align: center;
  text-transform: uppercase;
  background: url("../../img/bg-img.jpg") center/cover no-repeat;
  color: var(--color-accent-light);
}
@media (max-width: 31.1875rem) {
  .hero__top {
    min-height: 31.25rem;
  }
}
.hero__title {
  padding-top: 5rem;
  font-weight: 600;
  font-size: clamp(3.125rem, 0.625rem + 12.5vw, 15.625rem);
  line-height: 1;
}
.hero__text {
  font-weight: 500;
  font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
  line-height: 1.2;
}
.hero__stats {
  display: flex;
  justify-content: space-between;
  column-gap: 5.625rem;
  text-align: center;
}
@media (max-width: 72.4375rem) {
  .hero__stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.125rem;
  }
}
@media (max-width: 29.9375rem) {
  .hero__stats {
    grid-template-columns: 1fr;
    gap: 1.875rem;
  }
}

.achievements {
  display: flex;
  justify-content: space-between;
  margin-top: -3.75rem;
  margin-bottom: 5.625rem;
}
@media (max-width: 89.9375rem) {
  .achievements {
    margin-bottom: 3.125rem;
    justify-content: space-around;
    column-gap: 20px;
  }
}
@media (max-width: 42.125rem) {
  .achievements {
    display: grid;
    row-gap: 1.25rem;
    margin-bottom: 1.25rem;
  }
}
.achievements__link {
  display: inline-flex;
  column-gap: 1.5625rem;
  max-width: 36.25rem;
  padding: 0.875rem 0.625rem;
  border-radius: 20px;
  background-color: var(--background-color-light);
}
@media (max-width: 67.75rem) {
  .achievements__link {
    column-gap: 0;
  }
}
@media (max-width: 64.625rem) {
  .achievements__link {
    display: block;
    max-width: 14.4375rem;
  }
}
@media (max-width: 42.125rem) {
  .achievements__link {
    display: inline-flex;
    max-width: 36.25rem;
  }
}
@media (max-width: 32.4375rem) {
  .achievements__link {
    display: block;
    max-width: 232px;
  }
}
.achievements__pic-box {
  position: relative;
}
.achievements__img {
  max-width: 13.375rem;
  max-height: 8.875rem;
  border-radius: 1.25rem;
}
.achievements__btn {
  position: absolute;
  padding: 0;
  top: 0.125rem;
  right: 0;
  border: none;
  background-color: transparent;
  border-radius: 50%;
}
.achievements__content {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  max-width: 20.0625rem;
  padding: 0.625rem;
}
.achievements__title {
  font-weight: 500;
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}
.achievements__text {
  font-weight: 300;
  font-size: 0.875rem;
}
.achievements__text b {
  font-weight: 600;
}
.achievements__text span {
  font-weight: 600;
  color: var(--color-accent-yellow);
}

.stats {
  margin-bottom: 4.375rem;
  padding: 1.875rem 1.125rem;
  border-radius: 1.25rem;
  background-color: var(--background-color-light);
}
@media (max-width: 72.4375rem) {
  .stats {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 31.1875rem) {
  .stats {
    margin-bottom: 1.25rem;
  }
}
.stats__item {
  width: 16.875rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
  font-family: var(--font-family-accent);
}
@media (max-width: 72.4375rem) {
  .stats__item {
    width: auto;
  }
}
@media (max-width: 31.1875rem) {
  .stats__item {
    row-gap: 0.3125rem;
  }
}
.stats__item dt {
  font-weight: 600;
  font-size: clamp(1.375rem, 1.15rem + 1.125vw, 2.5rem);
  color: var(--color-accent-dark);
}
.stats__item dd {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
  line-height: 1.2;
  color: rgba(14, 13, 13, 0.71);
}

.description__title {
  font-family: var(--font-family-accent);
  font-weight: 300;
  font-size: clamp(1rem, 0.7rem + 1.5vw, 2.5rem);
  opacity: 0.84;
  margin-bottom: 2.5rem;
}
.description__title .text-bold {
  font-weight: 500;
}
.description__content {
  display: flex;
  justify-content: space-between;
  column-gap: 8.75rem;
  padding-bottom: 130px;
}
@media (max-width: 89.9375rem) {
  .description__content {
    column-gap: 3.125rem;
  }
}
@media (max-width: 56.1875rem) {
  .description__content {
    flex-wrap: wrap;
    gap: 2.5rem;
    padding-bottom: 70px;
  }
}
.description__img {
  width: 100%;
  max-height: 27.8125rem;
  border-radius: 0.625rem;
}
@media (max-width: 56.1875rem) {
  .description__img {
    width: 100%;
    height: 317px;
    object-fit: cover;
    object-position: center;
  }
}
.description__info {
  display: flex;
  flex-direction: column;
  row-gap: 2.8125rem;
}
@media (max-width: 56.1875rem) {
  .description__info {
    row-gap: 2.5rem;
  }
}
.description__text {
  padding-right: 50px;
  font-weight: 300;
  font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
}
@media (max-width: 56.1875rem) {
  .description__text {
    padding-right: 0;
  }
}
.description__text .text-bold {
  font-weight: 700;
}
.description__text .text-yellow {
  font-weight: 600;
}
.description__table {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(14, 13, 13, 0.23);
}
.description__table-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5625rem;
  padding-block: 0.9375rem;
  border-bottom: 1px solid rgba(14, 13, 13, 0.23);
}
.description__table-info dt {
  font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
  font-weight: 500;
}
.description__table-info dt .text-yellow {
  font-weight: 600;
}
.description__table-info dd {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  opacity: 0.71;
  text-align: right;
}

.products .container-big {
  background-color: var(--background-color-light);
}
.products__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 6.125rem;
  align-items: center;
}
@media (max-width: 56.1875rem) {
  .products__wrapper {
    padding-top: 3.125rem;
  }
}
.products__title {
  font-family: var(--font-family-accent);
  font-weight: 500;
  font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
@media (max-width: 56.1875rem) {
  .products__title {
    margin-bottom: 1.25rem;
  }
}
.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 2.1875rem;
}
@media (max-width: 72.4375rem) {
  .products__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 42.125rem) {
  .products__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.products__item {
  position: relative;
}
.products__item:nth-child(odd) {
  color: var(--color-base-light);
}
.products__link {
  display: flex;
  flex-direction: column;
  row-gap: 0.875rem;
  min-height: 20.125rem;
  padding: 3.125rem 1.5rem;
  border-radius: 0.625rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.products__inner-title {
  position: relative;
  font-family: var(--font-family-accent);
  font-weight: 400;
  font-size: clamp(1.125rem, 0.95rem + 0.875vw, 2rem);
  line-height: 1.1;
  padding-left: 2.8125rem;
}
.products__inner-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1.875rem;
  height: 1.875rem;
}
.products .cereal::before {
  background-image: url("../../img/crops.png");
}
.products .sunflower::before {
  background-image: url("../../img/sunflower.png");
}
.products .milk::before {
  background-image: url("../../img/glass-of-milk.png");
}
.products .bread::before {
  background-image: url("../../img/bread.png");
}
.products .chicken::before {
  background-image: url("../../img/chicken.png");
}
.products .apple::before {
  background-image: url("../../img/green-apple.png");
}
.products__inner-text {
  font-weight: 300;
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}
.products__inner-btn {
  position: absolute;
  bottom: -10px;
  left: -10px;
  border: none;
  background-color: transparent;
}

.quality {
  position: relative;
  padding-block: 10.1875rem 9.375rem;
}
@media (max-width: 67.75rem) {
  .quality {
    padding-block: 6.25rem;
  }
}
@media (max-width: 42.125rem) {
  .quality {
    padding-block: 3.125rem;
  }
}
.quality__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}
.quality__text {
  font-family: var(--font-family-accent);
  font-weight: 500;
  font-size: clamp(1.125rem, 0.85rem + 1.375vw, 2.5rem);
  color: var(--color-accent-dark);
}
.quality__title {
  font-family: var(--font-family-accent);
  font-weight: 600;
  font-size: clamp(3.75rem, 0.75rem + 15vw, 18.75rem);
  line-height: 0.8;
  color: var(--color-accent-yellow);
}
.quality__img {
  position: relative;
  bottom: clamp(1.25rem, 0rem + 6.25vw, 7.5rem);
  width: 100%;
  padding-bottom: 8.125rem;
}
@media (max-width: 72.4375rem) {
  .quality__img {
    padding-bottom: 3.125rem;
  }
}
@media (max-width: 61.1875rem) {
  .quality__img {
    padding-bottom: 0;
  }
}
.quality__bottom {
  display: flex;
  justify-content: space-between;
  column-gap: 7.5rem;
  min-height: 30.8125rem;
}
@media (max-width: 89.9375rem) {
  .quality__bottom {
    column-gap: 1.25rem;
  }
}
@media (max-width: 64.625rem) {
  .quality__bottom {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 2.5rem;
  }
}
.quality__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 36.25rem;
  width: 100%;
}
@media (max-width: 72.4375rem) {
  .quality__description {
    max-width: 25rem;
  }
}
@media (max-width: 64.625rem) {
  .quality__description {
    max-width: 36.25rem;
  }
}
.quality__description-title {
  font-family: var(--font-family-accent);
  font-weight: 400;
  font-size: clamp(1.375rem, 1.15rem + 1.125vw, 2.5rem);
}
.quality__description-bottom-text {
  font-weight: 300;
  font-size: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem);
  margin-bottom: 1.25rem;
}
.quality__advantages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.9375rem;
  max-width: 45.25rem;
  width: 100%;
}
.quality__advantages-top {
  display: flex;
  background-color: var(--background-color-light);
  border-radius: 0.625rem;
  width: 100%;
}
@media (max-width: 42.125rem) {
  .quality__advantages-top {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.quality__advantages-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.875rem 1.25rem;
}
@media (max-width: 42.125rem) {
  .quality__advantages-info {
    align-items: center;
    row-gap: 1.875rem;
  }
}
.quality__advantages-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
}
.quality__advantages-link {
  position: relative;
  font-size: 1rem;
  padding-left: 1.875rem;
  display: inline-block;
}
.quality__advantages-link span {
  font-weight: 600;
  color: var(--color-accent-yellow);
}
.quality__advantages-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../../img/arrow-top-right-list.svg") no-repeat center/cover;
  width: 1.5rem;
  height: 1.5rem;
}
.quality__advantages-img {
  width: 21.25rem;
  flex-shrink: 0;
  aspect-ratio: 340/364;
  object-fit: cover;
}
.quality__advantages-text {
  padding: 1.875rem 11.375rem 1.875rem 1.875rem;
  border-radius: 0.625rem;
  background-color: #0d1615;
  color: var(--color-accent-light);
}
@media (max-width: 42.125rem) {
  .quality__advantages-text {
    padding-right: 1.875rem;
  }
}
@media (max-width: 32.4375rem) {
  .quality__advantages-text {
    padding: 0.625rem;
  }
}
.quality__advantages-text span {
  color: var(--color-accent-yellow);
}

.blog__wrapper {
  padding-block: 6.25rem;
  background-color: var(--background-color-light);
}
@media (max-width: 56.1875rem) {
  .blog__wrapper {
    padding-block: 3.125rem;
  }
}
.blog__title {
  font-family: var(--font-family-accent);
  font-weight: 500;
  font-size: clamp(1.375rem, 1.15rem + 1.125vw, 2.5rem);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
.blog__inner {
  display: flex;
  justify-content: space-between;
  column-gap: 2.75rem;
}
@media (max-width: 84.3125rem) {
  .blog__inner {
    column-gap: 1.25rem;
  }
}
@media (max-width: 72.4375rem) {
  .blog__inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
    justify-items: center;
  }
}
.blog__left {
  display: flex;
  flex-direction: column;
  max-width: 36.25rem;
  height: auto;
  width: 100%;
}
@media (max-width: 84.3125rem) {
  .blog__left {
    max-width: 31.25rem;
  }
}
.blog__left-img {
  margin-bottom: 2rem;
}
@media (max-width: 84.3125rem) {
  .blog__left-content {
    margin-top: auto;
    margin-bottom: 0;
  }
}
.blog__right {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.blog__right-top, .blog__right-bottom {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
  max-width: 49.75rem;
}
@media (max-width: 32.4375rem) {
  .blog__right-top, .blog__right-bottom {
    display: flex;
    flex-direction: column;
    column-gap: 1.5rem;
    align-items: start;
    max-width: 49.75rem;
    row-gap: 16px;
  }
}
.blog__right-content {
  max-width: 28.25rem;
}
.blog__date {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--color-accent-yellow);
  margin-bottom: 0.75rem;
}
.blog__h3-title {
  position: relative;
  font-family: var(--font-family-accent);
  font-weight: 500;
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  color: var(--color-blog-dark);
  margin-block: 0.75rem 0.5rem;
  padding-right: 1.5rem;
}
.blog__h3-title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url("../../img/arrow-up-right.svg");
}
.blog__text {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  margin-right: 1.5rem;
  color: var(--color-blog-light);
}

.footer {
  padding-block: 6.25rem;
  background-color: var(--color-base-dark);
  color: var(--color-base-light);
}
@media (max-width: 56.1875rem) {
  .footer {
    padding-block: 3.125rem 0.9375rem;
  }
}
.footer__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  margin-bottom: 1.25rem;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  margin-right: 7.25rem;
  margin-bottom: 1.875rem;
  padding-inline: 0.625rem;
  column-gap: 2.8125rem;
}
@media (max-width: 72.4375rem) {
  .footer__top {
    margin-right: 0;
  }
}
@media (max-width: 47.9375rem) {
  .footer__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    row-gap: 2.8125rem;
  }
}
@media (max-width: 47.9375rem) and (max-width: 29.9375rem) {
  .footer__top {
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer__logo {
  display: flex;
  justify-content: center;
  align-items: start;
}
.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
}
.footer__information, .footer__contacts {
  display: flex;
  flex-direction: column;
}
.footer__information > *:not(:first-child):not(:nth-child(2)), .footer__contacts > *:not(:first-child):not(:nth-child(2)) {
  margin-top: 0.9375rem;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 0.875rem;
  padding-top: 0.9375rem;
  padding-inline: 0.625rem;
  border-top: 1px solid var(--color-base-light);
}
@media (max-width: 29.9375rem) {
  .footer__bottom {
    flex-direction: column;
    align-items: center;
    row-gap: 0.9375rem;
  }
}

.header,
.hero,
.products,
.quality {
  display: none;
}

/*# sourceMappingURL=style.css.map */
